
html {
    font: normal 14px Arial;
}

.wrapper {
    width: 600px;
    padding: 15px 0;
    margin: 0 auto;
}

.input-label {
    display: inline-block;
    margin: 0 0 3px 0;
}

.input {
    width: 300px;
}

textarea.input {
    height: 100px;
}

.list {
    padding: 0;
    margin: 0 0 15px 0;
}
.list li {
    margin: 0 0 5px 0;
}

.comment-img {
    width: 160px;
    height: auto;
}
.comment-img-thumb {
    width: 80px;
    height: auto;
}

.table-comments {
    width: 100%;
}
.table-comments th {
    text-align: left;
}

.col-created_at {
    width: 150px;
}
